.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.color_block{
    display: flex;
    margin: 10px;
}
button{
    margin: 0px 10px;
    border: 0px;
    background: #2ba8fb;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    outline: none;
}
input[type="color"] {
    margin: 10px;
    padding: 0px;
    border: 0px;
    cursor: pointer;
}
.color {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.color_name {
    mix-blend-mode: difference;
    color: white;
}